header{
	height:200px;

}


header a.logo{
  display: block;
  position: relative;
  width: 390px;
  height: 300px;
  left: 9%;
  bottom:40%;
  background-image: url(.././img/logo.svg);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100%;
}

}

header ul.loginandcart
{
  width: 150px;
  height: 25px;
  left: 600px;
  top: 5px;
  background: white;
  position: absolute;
}

nav{ 

	top: 178px;
	width: 400px;
	left: 65px;
	position: absolute;
}

nav a{

	margin-right:10px;
}

  #featureditems{
    width: 410px;
    height: 200px;
    background-color: #4C4A43;
    position: relative;
    left: 75px;
    margin: 40px 120px 50px 0px;
  }

  div#featured{
    width: 200px;
    height:200px;
    background-color: purple;
    position: absolute;
    right: 52%;
    background-color: white;
    background-image: url(.././img/shirt.jpeg);
   background-position: 0px 0px;
    background-repeat: no-repeat;
   background-size: 100%;
}

  div#about{
    width: 320px;
    height:200px;
    background-color: purple;
    position: absolute;
    right: 38%;
    background-color: white;
    background-image: url(.././img/shop.jpg);
   background-position: 0px 0px;
    background-repeat: no-repeat;
   background-size: 100%;
}

  div#contact{
    width: 320px;
    height:200px;
    background-color: purple;
    position: absolute;
    right: 38%;
    background-color: white;
    background-image: url(.././img/contactimg.jpg);
   background-position: 0px 0px;
    background-repeat: no-repeat;
   background-size: 100%;
}


  div#productitems
  {
     width: 700px;
    height: 400px;
    position: relative;
    left: 0px;
    margin: 40px 120px 50px;
    }


div#products{
  
  width: 600px;
  height: 400px;
  position: absolute;
  background: white;
  right: 200px;

  }

  .purchasestuff
  {
  width: 200px;
  height: 200px;
  position: relative;
  left: 150px;
  bottom: 243px;
  padding: 32px 37px 36px;
  font-size: 10px;
  border-left: 1px #959a9c dashed;
}

 
.info{
  display: block;
  width: 300px;
  height: 25px;
  position:absolute;
  left: 65%;
  padding: 0px 0px 18px 4px;
  font-size: .3em;
 }

.info h1{ 
color:white;
}

.info h3{ 
color:white;
}

.info p{
  font-size: 0.5em;
  color:white;
  padding-right:200px;
}