body{
	  color:#959a9c;
    line-height: 1.5em;
    font-family: Helvetica,Sans-Serif;
    font-size: 14px;
}

#wrapper{
	max-width: 980px;
	margin: 0px auto 0px auto;
	position:relative;

}

h1{font size:2em; font-weight:normal; color:black; margin: 0 0 .5em 0; }
h2{font: 1.7em;  margin: 0 0 1em 0;}
h3{font-size: 1.5em; margin: 0 0 1em 0; }
p{margin: 0 0 .75em 0;}
a{color:#9ba0bd; text-decoration: none; text-transform:uppercase;}
a:hover{ color:black}
footer{ font-size:.85em; color:#9ba0bd;  padding: 10px 10px 10px 0; border-top:1px dotted black; }
.logofont{}
.items{}
.items ul{}
.items li{ list-style-type: none; }
.items li h4{font-size:1.1em; margin:0;}
.items li h3{ line-height:1.2em; font-size: 0.9em; margin-bottom: .5em;}
 .info h3{ text-transform: uppercase;}

.loginandcart{}
.loginandcart ul{}
.loginandcart ul li{ list-style: none }

  
nav a{ 
  	color:#959a9c; 
  	text-transform: uppercase; 
  	text-decoration: none; 
  	display: inline-block;
  	font-weight: bold;
  	font-size :.9em;

}

nav a:hover{color:#000;}



